.footer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    position: -webkit-sticky;
    position: sticky;
    bottom: 20px;
  }
  .footer__social-icons {
    margin-left: auto;
    margin-right: 4%;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .footer__social-icon-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    list-style: none;
    border: solid 1px white;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.5s;
    text-align: center;
    color: white;
  }
  
  .footer__social-icon-item:hover {
    border: solid 1px #e52e80;
    opacity: 70%;
  }
  
  .footer__social-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 100%;
  }