.main-page {
  position: relative;
  height: 80vh;
  display: grid;
  grid-template-rows: 80% auto;
  justify-content: center;
  align-content: center;
}

.main-page__logo-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.main-page__digital-earth-log {
  width: 80%;
  height: auto;
  margin: auto;
}
.main-page__subtitle {
  /* width: 50%; */
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.2;
  margin-top: 60px;
  /* margin-bottom: 70px; */
}
.main-page__gallery-btn {
  justify-self: center;
  align-self: end;
  min-width: 150px;
  text-align: center;
  bottom: 10%;
  padding: 15px 50px;
  border-radius: 7px;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: var(--primary-magenta);
  color: white;
  text-decoration: none;
  transition: opacity 0.5s;
}

.main-page__gallery-btn:hover {
  opacity: 0.7;
}

@media all and (max-width: 768px) {
  .main-page {
    height: 100vh;
    grid-template-rows: 80% 20%;
  }
  .main-page__logo-wrapper {
  width: 92%;
    }
  .main-page__subtitle {
    font-size: 24px;
  }
  .main-page__gallery-btn {
      align-self: start;
  }
}
