@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}
body {
  box-sizing: border-box;
  background-color: black;
  font-family: "GoshaSans", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-weight: 400;
}
.page {
  display: block;
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.bg-video-main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  /* background-image: url("../images/background.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 4%;
  font-family: "GoshaSans", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  align-items: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding-top: 20px;
  backdrop-filter: blur(2px);
}
.header__logo-vinzavod {
  width: 80px;
  margin-right: 30px;
}
.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__menu-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.header__menu-item {
  margin: 0px 5px 10px 5px;
  display: block;
  list-style: none;
  border: solid 1px white;
  border-radius: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.header__menu-item:hover {
  border: solid 1px #e52e80;
  opacity: 70%;
}

/* .header__menu-item:active {
    border: solid 1px #e52e80;
    background-color: #e52e80;
    opacity: 70%;
  } */

.header__menu-link {
  text-decoration: none;
  color: white;
}

.header__logo-restore {
  margin-top: 3px;
  width: 100px;
  margin-left: 30px;
}
.content {
}
.main-page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-page__digital-earth-log {
  /* margin: auto; */
  width: 50%;
}
.main-page__subtitle {
  width: 50%;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.main-page__gallery-btn {
  padding: 10px 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #e52e80;
  color: white;
  text-decoration: none;
  transition: opacity 0.5s;
}

.main-page__gallery-btn:hover {
  opacity: 0.7;
}

.slider-about {
}
.slider-about__slider-warper {
}
.slider-about__arrow {
}
.slider-about__arrow_left {
}
.slider-about__text-container {
  max-width: 70%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.slider-about__text-paragraph {
}
.slider-about__arrow_right {
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}
.footer__social-icons {
  margin-left: auto;
  margin-right: 4%;
  padding: 0;
}
.footer__social-icon-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  list-style: none;
  border: solid 1px white;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: opacity 0.5s;
  text-align: center;
  color: white;
}

.footer__social-icon-item:hover {
  border: solid 1px #e52e80;
  opacity: 70%;
}

.footer__social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: white;
}

/* Slider */
.slider-about {
  margin: 70px 15%;
  /* height: 70vh; */
}

.gallery {
  display: flex;
  /* height: 70vh; */
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}
.gallery__player {
  display: block;

  width: 500px;
  height: 500px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
}

.participants {
  margin: 70px 15%;
}

.participants__item {
  max-width: 600px;
  margin: 10%;
}

/* .swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: none;
} */
.participants__header{
    margin: 10px 0;
}
.participants__subtitle{
    margin: 0;
    padding: 0;
    /* margin-top: 10px; */
}
.participants__image{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
}
.participants__body{
    font-weight: 300;
}